[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
crispy-bootstrap4 = "*"
django-crispy-forms = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
